<html>
<head>
    <style>
        * {
            font-family: sans-serif;
        }
        body {
            padding: 20px;
        }
        table thead{
            background-color: rgba(94, 88, 88, 0.39);
            
        }
        table {
            border-collapse: collapse;
            text-align: center;
        }
        table tr {
            border-bottom: 1 px solid
        }
        table th, table td {
            padding: 10px 20px;
            text-align: center;
        }
        h1 {
            color: orange;
        }
        h3 {
            color:  rgb(107, 104, 104);
        }
        
            
        
    </style>
</head>
<body>

<h1>Βιβλία</h1>
<h3></h3>
    <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Κωδικός βιβλίου</th>
      <th>Τίτλος</th>
      <th>ISBN</th>
      <th>Αριθμός Dewey</th>
      <th>Συγγραφέας</th>
      <th>Συνολικά Αντίτυπα</th>
      <th>Διαθέσιμα βιβλία</th>
      <th>Τοποθέτηση ραφιού</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>4</td>
      <td>Anything</td>
      <td>994-448-00</td>
      <td>100.400</td>
      <td>George Ortengerg</td>
      <td>3</td>
      <td>1</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>The cry</td>
      <td>132312.3232.111</td>
      <td>2323</td>
      <td>John Doe</td>
      <td>10</td>
      <td>6</td>
      <td>AS211</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>Good Morning</td>
      <td>838383.2929.000</td>
      <td>200.989</td>
      <td>Maria Ken</td>
      <td>3</td>
      <td>3</td>
      <td>A43</td>
    </tr>
    <tr>
      <th>3</th>
      <td>8</td>
      <td>Ξενος</td>
      <td>388-323-43</td>
      <td>200.400</td>
      <td>Λουντέμης Νικόλαος</td>
      <td>6</td>
      <td>6</td>
      <td>Δ221</td>
    </tr>
    <tr>
      <th>4</th>
      <td>9</td>
      <td>Ο βουλγαροκτόνος</td>
      <td>3232.323.555</td>
      <td>100.200</td>
      <td>Πηνελόπη Δέλτα</td>
      <td>5</td>
      <td>5</td>
      <td>Α33</td>
    </tr>
    <tr>
      <th>5</th>
      <td>10</td>
      <td>Όλα στην ώρα τους ήρθαν</td>
      <td>2323.554.4444</td>
      <td>100.200</td>
      <td>Μένιος Μπαλάφας</td>
      <td>1</td>
      <td>1</td>
      <td>w22</td>
    </tr>
    <tr>
      <th>6</th>
      <td>11</td>
      <td>The art of being always right</td>
      <td>64646.212.2</td>
      <td>100.400</td>
      <td>John Row</td>
      <td>5</td>
      <td>2</td>
      <td>S1221</td>
    </tr>
    <tr>
      <th>7</th>
      <td>12</td>
      <td>The Silence</td>
      <td>54.343.55-2</td>
      <td>120.333</td>
      <td>Moore Edward</td>
      <td>2</td>
      <td>2</td>
      <td></td>
    </tr>
    <tr>
      <th>8</th>
      <td>15</td>
      <td>Hurricane</td>
      <td>323.332.33</td>
      <td>32.32</td>
      <td>Nesbo</td>
      <td>1</td>
      <td>0</td>
      <td>s11</td>
    </tr>
    <tr>
      <th>9</th>
      <td>16</td>
      <td>The third</td>
      <td>443.43434-43</td>
      <td>400.300</td>
      <td>Finans</td>
      <td>1</td>
      <td>0</td>
      <td></td>
    </tr>
    <tr>
      <th>10</th>
      <td>17</td>
      <td>Τα πουλιά</td>
      <td>200.232.111</td>
      <td>300.200</td>
      <td>Χιτσκοκ</td>
      <td>1</td>
      <td>0</td>
      <td>α1221</td>
    </tr>
    <tr>
      <th>11</th>
      <td>18</td>
      <td>Caculus</td>
      <td>443.545.666</td>
      <td>222.222.1</td>
      <td>G. Cooper, M Smith, D. Franklin</td>
      <td>1</td>
      <td>1</td>
      <td>A1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>19</td>
      <td>11</td>
      <td>221.212.</td>
      <td>300.200</td>
      <td></td>
      <td>1</td>
      <td>1</td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td>20</td>
      <td>Giannis Antetokoumpo</td>
      <td>553.212.33</td>
      <td>100.200</td>
      <td>NBAOFFICIAL</td>
      <td>1</td>
      <td>0</td>
      <td>A21</td>
    </tr>
    <tr>
      <th>14</th>
      <td>21</td>
      <td>Love</td>
      <td>323.2</td>
      <td>323</td>
      <td>Mary Ken</td>
      <td>1</td>
      <td>7</td>
      <td>a1</td>
    </tr>
    <tr>
      <th>15</th>
      <td>22</td>
      <td>The end</td>
      <td>32333.434.331</td>
      <td>210.211</td>
      <td>J.Morrison</td>
      <td>1</td>
      <td>1</td>
      <td></td>
    </tr>
    <tr>
      <th>16</th>
      <td>23</td>
      <td>Restart</td>
      <td>5664-323-23</td>
      <td>300.200</td>
      <td>Robinson M</td>
      <td>5</td>
      <td>1</td>
      <td>E56</td>
    </tr>
    <tr>
      <th>17</th>
      <td>24</td>
      <td>Correciions</td>
      <td>777.33.23.11</td>
      <td>200.120</td>
      <td>Manuel Cargo</td>
      <td>8</td>
      <td>8</td>
      <td>S1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>25</td>
      <td>Total disaster</td>
      <td>309.909.009</td>
      <td>100.200</td>
      <td>Soony Koo</td>
      <td>4</td>
      <td>3</td>
      <td>E2</td>
    </tr>
  </tbody>
</table>
    


</body>
</html>