<html>
<head>
    <style>
        * {
            font-family: sans-serif;
        }
        body {
            padding: 20px;
        }
        table thead{
            background-color: rgba(94, 88, 88, 0.39);
            
        }
        table {
            border-collapse: collapse;
            text-align: center;
        }
        table tr {
            border-bottom: 1 px solid
        }
        table th, table td {
            padding: 10px 20px;
            text-align: center;
        }
        h1 {
            color: orange;
        }
        h3 {
            color:  rgb(107, 104, 104);
        }
        
            
        
    </style>
</head>
<body>

<h1>Μέλη</h1>
<h3></h3>
    <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Κωδικός μέλους</th>
      <th>Όνομα</th>
      <th>Επώνυμο</th>
      <th>Διεύθυνση</th>
      <th>Πόλη</th>
      <th>Τ.Κ.</th>
      <th>Σταθερό τηλέφωνο</th>
      <th>Κινητό τηλέφωνο</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Γιώργος</td>
      <td>Δημητριάδης</td>
      <td>Κ. Ταλιαδούρη 53</td>
      <td>Γρεβενά</td>
      <td>51100</td>
      <td>2462025049</td>
      <td>6973355035</td>
      <td>gedimitriadis@gmail.com</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Θάνος</td>
      <td>Καράγαλης</td>
      <td>13ης Οκτωβρίου 16</td>
      <td>Γρεβενά</td>
      <td>51100</td>
      <td>2462025167</td>
      <td>699988899</td>
      <td>akaragalis@gmail.com</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Mary</td>
      <td>Doom</td>
      <td>Αξιού 3</td>
      <td>Θεσσαλονίκη</td>
      <td>43223</td>
      <td>2310332211</td>
      <td>699988664</td>
      <td>marydoom@yahoo.gr</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>George</td>
      <td>Franklinou</td>
      <td>K. Konstantinou 23</td>
      <td>Thessaloniki</td>
      <td>89997</td>
      <td>221222112</td>
      <td>69832323232</td>
      <td>kk33ntinou@gail.com</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>Γιάννης</td>
      <td>Φωτίου</td>
      <td>Αργοναυτών 32</td>
      <td>Λαμία</td>
      <td>22321</td>
      <td>2462099888</td>
      <td>6945777666</td>
      <td>fotiou@gmail.com</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>George</td>
      <td>Franklinos</td>
      <td>K. Konstantinou 23</td>
      <td>Thessaloniki</td>
      <td>89997</td>
      <td>2310610187</td>
      <td>698887777</td>
      <td>kkntinou@gail.com</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>Μαρία</td>
      <td>Πενταγιώτισσα</td>
      <td>Υδοφορου Παπαγεωργίου 86</td>
      <td>Θεσσαλονίκη</td>
      <td>56728</td>
      <td>2310443232</td>
      <td>6945665778</td>
      <td>Mary5gio@yahoo.com</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>John</td>
      <td>Doe</td>
      <td>San Fransisco 332</td>
      <td>New York</td>
      <td></td>
      <td>234155225</td>
      <td>698888775</td>
      <td>saadsdsd@gmail.com</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>Βαγγελης</td>
      <td>Μαρινάκης</td>
      <td>Μ. Αλεξάνδρου 27</td>
      <td>Θεσσαλονίκη</td>
      <td>56789</td>
      <td>2310989898</td>
      <td>6723454556</td>
      <td>marinakisv@gmail.com</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>Βαγγέλης</td>
      <td>Μανιάτης</td>
      <td>Ιωνίας 35</td>
      <td>Ιωάννινα</td>
      <td>33422</td>
      <td>2461023432</td>
      <td>6977987789</td>
      <td>maniatis@yahoo.com</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>Ελένη</td>
      <td>Φουρλή</td>
      <td>Κορδελιό</td>
      <td>Πάτρα</td>
      <td>22123</td>
      <td>2432099889</td>
      <td>6978832125</td>
      <td></td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>Ryan</td>
      <td>Rogers</td>
      <td>South Park 223</td>
      <td>New York</td>
      <td>998</td>
      <td>445577638829</td>
      <td>6988765678</td>
      <td>ryrog@gmai;.com</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>John</td>
      <td>Smith</td>
      <td>S.Hunges 211</td>
      <td>London</td>
      <td></td>
      <td>243821111</td>
      <td>2323332333</td>
      <td>SmithJo@gog.com</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>Κώστας</td>
      <td>Μάρκου</td>
      <td>Εγνατίας 12</td>
      <td>Γρεβενά</td>
      <td></td>
      <td>2462022112</td>
      <td>6977633322</td>
      <td>markou@gmail.com</td>
    </tr>
  </tbody>
</table>
    


</body>
</html>